<% layout('layouts/boilerplate')%>

<div class="header">
    <h1 id="header">Calendar.js - Basic</h1>
    <p>This is an example of two basic calendar instances, using slightly different options.</p>
</div>

<div class="contents">
    <div id="calendar1" style="max-width: 800px;"></div>
    <br/>
    <br/>
    <div id="calendar2" style="max-width: 800px;"></div>
    <br/>
    <br/>

    <h2>Main Controls:</h2>
    <button onclick="calendarInstance1.destroy();">Destroy (1)</button>
    <button onclick="calendarInstance2.destroy();">Destroy (2)</button>
</div>


<script>
    
</script>