<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-4 mb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex">
                    <div class="ms-auto">
                        <h3 class="card-title">You are about to DELETE your account</h3>
                    </div>
                    <div>
                        <a class="btn btn-success" href="/auth/details">Cancel</a>
                    </div>
                </div>
      
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    You will lose all your information from slapp.longrunner.co.uk for:
                                </li>
                                <li class="list-group-item">
                                    Username: <%=user.username%>
                                </li>
                                <li class="list-group-item">
                                    Email: <%=user.email%>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            This is irreversible
                        </li>
                        <li class="list-group-item">
                            All created meals will be lost
                        </li>
                        <li class="list-group-item">
                           All created ingredients will be lost
                        </li>
                        <li class="list-group-item">
                            All reviews will be deleted
                        </li>
                        <li class="list-group-item">
                            All shopping lists will be deleted
                        </li>
                        <li class="list-group-item">
                            Please enter your password and click below to confirm this is what you want.
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form id="delete" action="/auth/delete?_method=DELETE" method='Post'>
                        <div class="form-group mb-3">
                            <label class="form-label" for="password" style="color: black;">Password:</label>
                            <input class="form-control" type="password" id="password" name="password" autofocus required>
                            <div class="invalid-feedback">
                                Please enter your password to confirm
                            </div>
                        </div>
                        <div class="d-flex gap-2">
                            <a class="btn btn-success flex-fill" href="/auth/details">Cancel</a>
                            <button form="delete" class="btn btn-danger flex-fill" type="submit">DELETE account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>